<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Send2", suffix: " · Send2" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li>
              <%= link "Receive", to: Routes.url_receive_path(@conn, :receive) %>
              <%= link "Send", to: Routes.url_send_path(@conn, :send) %>
            </li>
            </ul>
        </nav>
        <h1>Send2</h1>
        <section class="container"> 
        Send URLs or text between browsers instantly. <br>
        Great for TVs and anything without a keyboard.
        </section>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
